$color_blue: #1f8bcb;
$color_light: #fbf9f5;
$color_light2: #f6f6f6;
$color_orange: #EEBE5B;
$color_gray: #12435D;
$color_dark: #203A40;
$color_white: #fff;
$color_gray2: #bdbdbd;
$color_gray_body: #ededed;
$color_menu: #12435D;
$color_menu_border: #1FA3AE;
$color_red: #E64447;