.product-box{
    .product{
        width: 100%;
        z-index: 1;
        position: relative;
        @include box-shadow(0, 0, 7px, $color_gray2);
        .cover{
            width: 100%;
            height: 100%;
            background: $color_white;
            position: absolute;
            z-index: 15;
            display: none;
            //border-bottom: 30px solid $color_orange;
            svg{
                float: right;
                margin: 10px 10px 0 0;
                color: $color_gray;
                cursor: pointer;
            }
            h4{
                margin: 5px 0 0 10px;
                color: $color_gray;
                font-size: 18px;
                padding-top: 5px;
            }
            table{
                position: absolute;
                bottom: -16px;
                text-align: center;
                width: 100%;
                th, td{
                    vertical-align: middle;
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 13px;
                    padding: 2px !important;
                }
                th{
                    font-weight: 900;
                }
            }
        }
        .name, .price, .link{
            text-align: center;
        }
        .price, .link{
            color: $color_white;
            padding: 10px;
            a{
                color: $color_white;
            }
        }
        .name, .price, .link{
            background-color: $color_gray;
        }
        .name{
            a{
                color: $color_white;
                text-decoration: underline;
            }
            padding: 18px 0 18px;
            padding-right: 10px;
            text-align: right;
        }
        .price{
            padding: 18px;
        }
        .link{
            margin: 1px 0 1px;
        }
        .detail{
            position: absolute;
            width: 100%;
            text-align: center;
            top: 100px;
            z-index: 10;
            button{
                opacity: 0.7;
                background: $color_gray;
                color: $color_white;
            }
        }
        .zoom{
            position: absolute;
            top: 15px;
            left: 15px;
            color: $color_white;
            cursor: pointer;
        }
        h2{

        }
        img{
            border-left: 1px solid $color_gray2;
            border-right: 1px solid $color_gray2;
            width: 100%;
        }
    }
    
}
.modal-button{
    text-align: center;
    color: $color_white;
    margin: 1px 0 1px;
    background-color: $color_orange;
    padding: 10px;
    a{
        color: $color_white;
    }
}
#slider{
    img{
        width: 100%;
    }
}
#breadcrumb{
    width: 100%;
    min-height: 50px;
    label{
        margin-bottom: 4px;
        @include box-shadow(0, 0, 7px, $color_gray2);
        .dk-clear{
            cursor: pointer;
        }
    }
}
#filter{
    @include box-shadow(0, 0, 7px, $color_gray2);
    div{
        cursor: pointer;
    }
    select{
        width: 100%;
    }
    label{
        padding: 15px;
        background-color: $color_gray;
        width: 100%;
        color: $color_white;
        text-align: center;
        font-size: 16px;
        margin-bottom: 0;
    }
    select{
        border-color: $color_gray;
        border-radius: 0;
        height: 51px;
    }
    .required-filter{
        border-color: $color_orange;
    }
}
#process{
    position: absolute;
    top: 100px;
    left: 45%;
    width: 10%;
    display: none;
    z-index: 2000;
    img{
        width: 100%;
    }
}
#produkty #cart{
    border: 1px solid $color_gray2;
    padding: 10px 3px 0;
    height: 71px;
    z-index: 200;
    text-align: center;
    #cart-sum{
        
    }
    #cart-icon{
        cursor: pointer;
        position: absolute;
        right: 0;
        top: -18px;
        a{
            color: $color_orange;
        }
    }
    #cart-content{
        display: none;
        border: 1px solid $color_gray2;
        position: absolute;
        width: auto;
        right: 15px;
        top: 70px;
        z-index: 200;
        background-color: $color_white;
        table th{
            border: none;
        }
    }
    a{
        color: #eee;
    }
    em{
        font-style: normal;
    }
}
#cart{
    @include box-shadow(0, 0, 7px, $color_gray2);
    background-color: $color_white;
    .remove{
        cursor: pointer;
    }
    #cart-sum{
        cursor: pointer;
    }
    #cart-content{
        
        table{
            th{
                text-align: center;
                background: #f6f7f9;
            }
            td{
                text-align: center;
                padding: 10px;
                padding-top: 15px;
            }
        }
    }
}
.showcart{
    background-color: $color_white;
}
.fixedcart{
    position: fixed !important;
    top: 0;
    right: 0;
}
.white-popup {
    position: relative;
    background: $color_gray_body;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    .content-popup{
        img{
            width: 100%;
        }
        textarea{
            width: 100%;
        }
    }
    button{
        background-color: $color_red;
        color: $color_white;
        a{
            color: $color_white;
        }
        em{
            font-style: normal;
        }
    }
}
.mfp-content{
    position: initial !important;
}
.mfp-close{
    color: $color_white !important;
    opacity: 1 !important;
}
.dk-hide{
    display: none;
}
.bootstrap-select > .dropdown-toggle,
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
{
    width: auto;
}
.bootstrap-select.btn-group .dropdown-menu{
    min-width: auto;
}
.add{
    width: 100%;
}
.navbar{
    padding: 5px;
    width: 100%;
    background-color: $color_menu;
    border-bottom: 3px solid $color_menu_border;
    > a{
        color: $color_white;
        float: right;
        margin-top: 4px;
    }
}
.navbar#desktop{
    a{
        display: inline;
        padding: 12px;
        font-size: 16px;
    }
    a:hover{

    }
}
.navbar#mobile{
    display: none;
    section{
        color: $color_white;
        width: 50px;
        svg{
            width: 100%;
            cursor: pointer;
            
            
        }
    }
    div{
        display: none;
        a{
            width: 100%;
            display: table;
        }
    }
}
#order-process{
    text-align: center;
    .row > div > div{
        outline: 1px solid $color_light2;
        padding: 20px;
    }
    .through{
        color: $color_gray2;
    }
}
.mfp-close-btn-in .mfp-close{
    font-size: 80px;
}
#order-move{
    width: 100%;
    padding: 20px;
    text-align: center;
    a:first-child{
        /*float: left;*/
    }
    a:last-child{
        /*float: right;*/
    }
}
#order-form{
    @include box-shadow(0, 0, 7px, $color_gray2);
    background-color: $color_white;
    > .row{
        padding: 10px 50px 10px;
    }
    > .row > div{
        padding: 20px 50px 20px;
    }
    .row > div:not(.no-border){

        border-bottom: 1px dashed $color_gray2;
    }
    input[type="text"]{
        font-size: 12px;
        padding: 10px;
    }
}
#company-box-out{
    #company-box{
        display: none;
    }
}
#payment, #main #regulamin, #o-sklepie #main > div.row, #kontakt #main > div:nth-child(2), #dostawa #main > div, #spis-zaworow-elektromagnetycznych #main > div{
    @include box-shadow(0, 0, 7px, $color_gray2);
    background-color: $color_white;
    padding: 10px;
}
#kontakt #main div{
    padding: 10px;
}
#kontakt #main div:nth-child(2) {
    text-align: right;
}
#payment-row{
    display: block;
}
#search{
    position: relative;
    @include box-shadow(0, 0, 7px, $color_gray2);
    input{
        width: 100%;
        padding: 21.5px;
        border: 1px solid $color_gray2;
    }
    button{
        position: absolute;
        top: 2px;
        right: 2px;
        background: $color_orange;
        border: none;
        padding: 0px 16px 0;
        height: 67px;
        color: $color_white;
        font-size: 21px;
        cursor: pointer;
    }
}
#top > div > div{
    margin-top: 20px;
    margin-bottom: 20px;
}
.popup-name, .popup-price{
    padding: 10px 0 10px;
    margin: 1px 0 1px;
    color: $color_white;
    text-align: center;
    font-size: 18px;
}
.popup-name{
    background-color: $color_gray;
}
.popup-price{
    background-color: $color_orange;
}
.parameter{
    tr:first-child td{
        border: none;
    }
}
#footer{
    min-height: 300px;
    text-align: center;
    background-color: $color_dark;
    color: $color_white;
    margin-top: 20px;
}
.order-alert{
    text-align: center;
    color: $color_orange;
    padding: 20px 0 20px;
    font-size: 20px;
}
.required{
    border-color: $color_orange;
}
.orange{
    color: $color_orange;
}
.detail{
    h1{
        text-align: center;
        font-size: 18px;
        color: $color_gray;
        padding: 5px 25px 5px;
        border-bottom: 1px solid $color_gray;
    }
    > a{
        padding-top: 10px;
        margin-top: -160px;
    }
    img{
        width: 100%;
    }
    > div:nth-child(3) {
        padding: 20px;
        @include box-shadow(0, 0, 7px, $color_gray2);
        background-color: $color_white;
    }
}
.price-one{
    color: $color_white;
    background-color: $color_orange;
    font-size: 26px;
    font-weight: lighter;
}
.link-one{
    background-color: $color_gray;
    float: right;
    margin-right: 15px;
    margin-bottom: 15px;
    a{
        color: $color_white;
    }
}
.table.table-bordered{
    th, td{
        text-align: center;
        vertical-align: middle;
    }
}
.back{
    opacity: 0.8;
}